.main {
  background-color: #1a1c20;
  width: 100vw;
  height: 100vh;
  color: #cff1f1b4;
}

.contenedor {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.foto{
  width: auto;
  height: 310px;
  border-radius: 15px;
}

.divDerecha {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.parrafos {
  text-align: justify;
}

.parrafo1 {
  display: block;
}

.parrafo2 {
  display: none;
}

.parrafo3 {
  display: none;
}

.parrafo4 {
  display: none;
}

.parrafo5 {
  display: none;
}

@media (min-width: 320px){
  .parrafo1 {
    text-align: left;
  }
}

@media (min-width: 768px){
  .foto{
    width: auto;
    height: 400px;
  }

  .divDerecha {
    justify-content: space-evenly;
  }

  .parrafos {
    font-size: 18px;
  }
  
  .parrafo1 {
    text-align: justify;
  }

  .parrafo2 {
    display: block;
  }
}