.main {
  background-color: #1a1c20;
  width: 100vw;
  height: 100vh;
  color: #cff1f1b4;
}

.contenedor {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.foto{
  width: auto;
  height: 310px;
  border-radius: 15px;
}

.divDerecha {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* display: none; */
}

.titulo {
  font-size: 40px;
  text-align: center;
}

.parrafo {
  text-align: justify;
}

@media (max-width: 1120px) {
  .divIzquierda {
    width: 400px;
    height: 400px;
    background-size: cover;
  }

  .parrafo3 {
    display: none;
  }
}

@media (max-width: 800px) {
  .contenedor {
    flex-direction: column;
  }

  .divIzquierda {
    width: 400px;
    height: 300px;
    background-size: cover;
  }

  .divDerecha {
    height: 30%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .parrafo1 {
    margin-top: 20px;
  }

  .parrafo2 {
    display: none;
  }

  .parrafo3 {
    display: none;
  }

  .parrafo4 {
    display: none;
  }

  .parrafo5 {
    display: none;
  }

  @media (max-width: 400px) {
    .contenedor {
      flex-direction: column;
    }

    .divIzquierda {
      width: 80%;
      height: 200px;
      background-size: cover;
    }

    .divDerecha {
      height: 30%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }

    .titulo {
      font-size: 25px;
    }

    .parrafo1 {
      margin-top: 20px;
      max-width: 80%;
      margin: auto;
    }

    .parrafo2 {
      display: none;
    }

    .parrafo3 {
      display: none;
    }

    .parrafo4 {
      display: none;
    }

    .parrafo5 {
      display: none;
    }
  }
}