

.main {
    position: relative;
    bottom: 1px;
    width: 100vw;
    height: 100vh;
    background-color: #1a1c20;
    display: flex;
    justify-content: center;
  }
  
  .contenedor{
    width: 90%;
    height: 80%;
    display: grid;
    background-color: red;
  }
  
  @media (min-width: 320px) {
    .contenedor {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 3px;
      row-gap: 3px;
    }
  }
  
  @media (min-width: 426px) {
    .contenedor {
      margin-top: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 3px;
      row-gap: 3px;
    }
  }